NEXT_PUBLIC_SITE_URL=https://capgp.org
ZOHO_USER=apply@capgp.org
ZOHO_PASS=
MAIL_FROM=apply@capgp.org
TO_EMAIL=support@capgp.org
# Paste the content= value from Google Search Console HTML-tag verification
GOOGLE_SITE_VERIFICATION=
